<%- include("header") -%>

<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eius
  delectus. Tempore consequatur nihil quasi voluptatibus dignissimos qui quae
  distinctio?
</p>

<%- include("footer") -%>